:root {
    --md-primary-fg-color: #003A69;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark: #90030C;
    /*    --md-accent-fg-color:              #FFFFFF;
    --md-accent-fg-color--transparent: #347CA9;
    --md-accent-bg-color:              #ECB7B7;
    --md-accent-bg-color--light:       #ECB7B7;*/
}

/* This is for links - colour TBC. 
.md-typeset a {
    color: #1a602f !important;
}*/

/* This is for active links - colour TBC. 
.md-nav__link--active {
    color: #1a602f !important;
}*/